<header>
    <div class="smoothie">
        <img src="/images/smoothie.png" alt="">
    </div>
    <div class="headings">
        <h2>Smoothie Recipes</h2>
        <h3>By Ninjas For Ninjas</h3>
        <a href="/auth/signup" class="btn">Signup</a>
    </div>
</header>